@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb;
  --foreground: #1f2937;
  --primary: 262 83% 58%;
  --primary-foreground: 0 0% 100%;
  --accent: 262 100% 97%;
  --accent-foreground: 262 83% 45%;
  --border: 224 27% 86%;
  --input: 224 27% 86%;
  --ring: 262 83% 58%;
}

html.dark {
  --background: #1f2937;
  --foreground: #f9fafb;
  --primary: 262 83% 58%;
  --primary-foreground: 0 0% 100%;
  --accent: 263 23% 20%;
  --accent-foreground: 262 100% 97%;
  --border: 224 17% 35%;
  --input: 224 17% 35%;
  --ring: 262 83% 58%;
}

body {
  background: var(--background);
  color: var(--foreground);
}
